/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 jun. 2023, 19:38:01
    Author     : nesfa
*/


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: darkturquoise;
}

img{
    width: 400px;
    height: 200px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.datos{
    margin-left: 8%;
    margin-top: 15%;
}

.datos h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

.datos p{
    font-size: 30px;
    color: blue;
    margin-bottom: 10px;
}

.imagenes{
    width: 30%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.imagenes img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.imagenes:hover{
    filter: blur(5px);
}

.logo:hover{
    filter: blur(5px);
}
